header {
    background-color: white;
    padding: 2rem;
    z-index: 1000;

    position: relative;

    .header-container {

        display: flex;
        align-items: center;
    }

    div {
        width: 10rem;
        flex-grow: 1;
    }

    nav {



        .list {


            display: flex;
            gap: 2rem;

            li {
                a:not(:has(.btn)) {
                    color: $dark-grayish-violet ;

                    &:hover {
                        color: $dark-violet ;
                    }

                }
            }

            @media (max-width : 991px) {
                display: none;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                position: absolute;
                top: 100%;
                flex-direction: column;
                left: 50%;
                padding: 2rem 4rem;
                width: 90%;
                margin-top: 12rem;
                text-align: center;
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                background-color :rgba(255,255,255,0.39)  ;
                
                 &.show   {
                    display: flex;
                }

                li a {
                    display: grid;
                    color : $dark-violet ;

                }

            }

        }

    }

    .btn {
        @include btn($dark-violet , white  );

    }

}

