header {
    background-color: white;
    padding: 2rem;
    z-index: 1000;

    position: relative;

    .header-container {

        display: flex;
        align-items: center;
        margin-inline: auto;
    }

    div {
        width: 10rem;
        flex-grow: 1;
    }

    nav {



        .list {


            display: flex;
            gap: 3rem;

            li {
                a:not(:has(.btn)) {
                    color: $dark-grayish-violet ;

                    &:hover {
                        color: $dark-violet ;
                    }

                }
            }

            @media (max-width : 991px) {
                display: none;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                position: absolute;
                top: 100%;
                flex-direction: column;
                left: 50%;
                padding: 2rem 4rem;
                width: 90%;
                margin-top: 10rem;
                text-align: center;
                &.show
{
                    display: block;
                }

                li a {
                    display: grid;
                    margin-block: 2rem;

                }

            }

        }

    }

    .btn {
        @include btn($dark-violet)
    }

}