
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);


$font-size-body: 16px;

$font-family-headings: 'DM Serif Display', serif;
$font-weight-headings: 400;

$font-family-body: 'Karla', sans-serif;
$font-weight-body-regular: 400;
$font-weight-body-bold: 700;
